.profile {
  margin-top: 10px;
  border: 2px dashed #bbbbbb;
}

.profile td {
  padding: 10px;
}

.param-cell {
  width: 150px;
  background-color: #eeeeee66;
}

.value-cell {
  width: 200px;
  font-weight: 600;
}

.error {
  font-size: 36px;
  color: red;
  padding: 20px;
}
