.top-panel {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px dashed #bbbbbb;
  padding-left: 10px;
}
.top-panel .avatar-container {
  margin-left: 10px;
  margin-right: 10px;
}
.top-panel .user-name-container {
  flex: 1;
}
.top-panel .last-updated-container {
  margin-left: 10px;
  margin-right: 10px;
}
