div {
  box-sizing: border-box;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.master {
  padding: 10px;
  border-right: #bbbbbb solid 2px;
  overflow-y: scroll;
}
.master-expand-container {
  position: absolute;
  left: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}
.master-expand-button {
  transform: translate(50%, 0);
  pointer-events: all;
}
.expand-collapse-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: #bbbbbb solid 2px;
  box-shadow: 3px 3px #00000011;
}
.section {
  padding-top: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.section-button {
  margin-right: 5px;
}
.section-content {
  padding-left: 10px;
}
.master-button {
  background-color: #fff;
  border: #bbbbbb solid 2px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 3px 3px #eeeeee;
}
.master-button:focus {
  outline: 0;
}
.selected {
  font-weight: 600;
  border-color: #000000;
  box-shadow: 3px 3px #00000033;
}

.detail {
  flex: 1;
  padding: 24px;
  position: relative;
  overflow: scroll;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
