.member-avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.member-avatar-image {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  object-fit: cover;
  background-color: #0004;
}

.member-avatar-caption {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 1px 1px #000;
  width: 100%;
  text-align: center;
}
