body {
  font-family: Arial;
}

h2 {
  margin-block-start: 0px;
}

h3 {
  margin-block-start: 0px;
}

th {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 8px;
}

th:hover {
  border: 1px solid #bbbbbb;
}

td {
  border: 1px solid #eeeeee;
  padding: 8px;
}

td:hover {
  border: 1px solid #bbbbbb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 1px solid #bbbbbb;
}

input {
  padding: 8px;
  border: 1px solid #bbbbbb;
  border-radius: 0;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: 3px 3px 0px 0px #eadff9;
}

input:hover {
  text-shadow: 2px 2px #e1ccff;
}
