.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-fields-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-field {
  display: flex;
  align-items: center;
}

.contact-emoji {
  font-size: 32px;
  margin-right: 8px;
}

.contacts-avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #0005;
  box-shadow: 3px 3px 0px 0px #0002;
}
